@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="display:flex">
    <div class="text-center" style="margin: 2em;">
        <h1 class="display-4">Welcome</h1>
        <p>At ABC Retail, we're dedicated to bringing you the finest selection of products at unbeatable prices. Whether you're shopping for the latest trends, essential household items, or that perfect gift, we have everything you need in one place. Our commitment to quality, value, and customer satisfaction is at the heart of everything we do. Explore our wide range of products and experience a seamless shopping journey tailored just for you. Thank you for choosing ABC Retail – where your satisfaction is our top priority.</p>
    </div>
    <div>
        <img src="Images/Artisan.jpeg" alt="Image Not Found" width="600" height="400">
    </div>
</div>

