html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.header {
    padding: 2em;
    background-color: #1B6FA6;
    color: white;
}


.footer {
    background-color: #1B6FA6;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5F3FF;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.container {
    background-color: #B3D9FF;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2D9CDB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background-color: #1B6FA6;
    }

    .color-white{
        color:white;
    }

